<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Refresh Data!</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h3>{{ destin.title }}</h3>
    <p>{{ destin.teaser }}</p>
    </div>
  </div>

  <div class="item">
    <img id="main-pic" src="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/mediumsize/PIA16225_ip.jpg">
                            
  </div>

  <table border="1" class="dataframe">
    
    <tbody>
      <tr>
        <th>Polar Diameter:</th>
        <td>6,752 km</td>
      </tr>
      <tr>
        <th>Mass:</th>
        <td>6.39 × 10^23 kg (0.11 Earths)</td>
      </tr>
      <tr>
        <th>Moons:</th>
        <td>2 (Phobos &amp; Deimos)</td>
      </tr>
      <tr>
        <th>Orbit Distance:</th>
        <td>227,943,824 km (1.38 AU)</td>
      </tr>
      <tr>
        <th>Orbit Period:</th>
        <td>687 days (1.9 years)</td>
      </tr>
      <tr>
        <th>Surface Temperature:</th>
        <td>-87 to -5 °C</td>
      </tr>
      <tr>
        <th>First Record:</th>
        <td>2nd millennium BC</td>
      </tr>
      <tr>
        <th>Recorded By:</th>
        <td>Egyptian astronomers</td>
      </tr>
    </tbody>
  </table>

  <div class="item">
    <img id="main-pic" src="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/mediumsize/PIA16225_ip.jpg">
                           
  </div>

</body>

</html>